@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500);

.button_m{
	width:280px;
	height:40px;
	padding-top:17px;
	font-size:22px;
	color:white;
	background:#FF6C64;
	text-align:center;
	border-radius:8px;
	margin:55px auto 0 auto;
	border-bottom:4px solid #D55A54;
}

a{
	text-decoration:none;
}

html{
	height:100%;
}

body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Roboto', sans-serif;
	position:relative;
}

#infoBlock{
	margin:0 0 0 0;
	background:url(../images/background1.jpg) no-repeat;
	background-size:100%;
	border-top:1px solid grey;
	width:100%;
	min-height:100%;
	position:relative;
}



#galleryPhoto{
	width:1280px;
	height:1200px;
	margin:0 auto;
	display:block;
	border-top:1px solid white;
	outline:0px solid red;
}

#galleryPhoto h2{
	text-align:center;
	font-weight:400;
	color:#00366A;
	margin-top:40px;
	margin-bottom:40px;
	font-size:68px;
	font-family:'Impact', impact, roboto, 'roboto', sans-serif;
}

.button1{
	width:280px;
	height:40px;
	padding-top:17px;
	font-size:22px;
	color:white;
	background:#FF6C64;
	text-align:center;
	border-radius:8px;
	margin:55px auto 0 auto;
	display:block;
	border-bottom:4px solid #D55A54;
	/*плавная смена цвета фона кнопки*/
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	transition-duration: 0.5s;
	/*плавная смена цвета фона кнопки*/
}



#howIn img{margin-top:20px;}

#containerHow{
	margin:0 auto;
	display:block;
	width:982px;
	height:130px;
	outline:0px solid green;
}

#containerHow2{
	margin:0 auto;
	display:block;
	width:982px;
	height:570px;
}

#containerHow2 h3, .p1{
	color:#00366A;
	text-align:center;
	opacity:0.9;
}

#containerHow2 .pp{
	color:#FF6C6C;
	text-align:center;
	font-size:18px;
	
}

#formDiv{
	width:1080px;
	margin:30px auto 0 auto;
	display:block;
	border-top:1px solid white;
}

#formDiv h2{
	text-align:center;
	color:#FF6C64;
	padding:0 20px;
	display:none;
}

#form{
	margin:0 auto;
	display:block;
	border:2px solid #FF6C64;
	border-radius:10px;
	width:410px;
	padding:30px 0 0 0;
	background:#FFF4F3;
}

#form  input{
	margin:5px auto 0 auto;
	display:block;
	height:30px;
	width:280px;
	outline:none;
	border:1px solid #FF6C64;
	text-indent:1em;
	font-family:roboto;
	font-size:18px;
	font-weight:300;
	border-radius:3px;
}

.buttonForm, .knopka_pod3{
	width:200px;
	height:40px;
	padding-top:17px;
	font-size:22px;
	color:white;
	background:#FF6C64;
	text-align:center;
	border-radius:8px;
	margin:25px auto 0 auto;
	display:block;
	border-bottom:4px solid #D55A54;
	/*плавная смена цвета фона кнопки*/
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	transition-duration: 0.5s;
	/*плавная смена цвета фона кнопки*/
}



#politika{
	text-align:center;
	font-size:16px;
	font-weight:300;
	color:#00366A;
	margin:25px auto;
	display:block;
	text-decoration:none;
}

#politika:hover{
	cursor:pointer;
	text-decoration:underline;
}

#map{
	border-top:1px solid white;
	height:565px;
	background:url(../images/map.jpg) center no-repeat;
	margin-top:40px;
}

#wripperLoc{
	position:relative;
	width:1080px;
	margin:0 auto;
	display:block;
}



/*отзывы всплывающие*/


#pod3{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	background:url(../images/headerBg.png);
}

#form3{
	margin:0 auto 0 auto;
	background-color:#FFF4F3;
	height:300px;
	width:550px;
	padding:0px;
	border-radius:0 0 6px 6px;
	border:1px solid #FFF4F3;
	position:relative;
}

#form3 h3{
	color:#FF6C64;
	text-align:center;
	margin-bottom:20px;
	font-family:roboto;
	font-size:22px;
	font-weight:400;
}

#form3 input{
	margin:5px auto 0 auto;
	display:block;
	height:30px;
	width:440px;
	outline:none;
	text-align:center;
	border:1px solid #FF6C64;
	font-family:roboto;
	font-size:22px;
	font-weight:300;
}

.close{
	position:absolute;
	left:225px;
	bottom:0;
	width:100px;
	cursor:pointer;
}



.cclose, .gclose{
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
}

#galleryLB{
	margin-right:80px;
	display:block;
	position:relative;
	width:1200px;
	height:853px;
	border-radius:18px;
	border-top:1px solid white;
	outline:0px solid red;
}

#forward{
	position:absolute;
	right:0;
	bottom:-145px;
	width:580px;
	cursor:pointer;
}

#back{
	position:absolute;
	left:0;
	bottom:-145px;
	width:580px;
	cursor:pointer;
}

#imgLB{
	margin:0 auto;
	display:block;
	width:1200px;
	border-radius:12px;
}


/*АДАПТАЦИЯ ПОД РАЗНЫЕ УСТРОЙСТВА*/

@media screen and (max-width:998px) {
	#UTP,.dopBg,#header,#dis2 h2,#klientChoice h2,#howIn img,#howIn img,.text_egg,.vline,.discriptDop, .discript,#howIn2,#formDiv, #howIn h2, .discript_how, .discript_howEnd,#wripperLoc,#footer {display:none;}
	body{
		width:1280px;
	}
	#infoBlock{
	height:1999px;
	width:1280px;
	background:url(../images/mobile/block1.jpg) no-repeat;
	}
	
	#galleryPhoto{
		padding:0;
		width:1280px;
		height:1200px;
		margin:0 auto;
		display:block;
	}
	
	#dis2{
	height:3271px;
	width:1280px;
	} 
	
	#dis2Con{background:url(../images/mobile/block2.jpg) no-repeat;height:3023px;width:1280px;}
	.button1,.button_m{
		width:560px;
		height:80px;
		padding-top:34px;
		font-size:44px;
		border-radius:16px;
		margin:55px auto 0 auto;
		display:block;
		border-bottom:8px solid #D55A54;
	}
	
	#videoSpeak{
		background:url(../images/mobile/otziv.jpg) no-repeat;height:3343px;width:1280px;
	}
	#videoSpeak h2, #containerVideo{display:none;} 
	
	
	#klientChoice{
		height:1724px;
		width:1280px;
	}
	#wripperChoice{
		height:1400px;
		width:1280px;
		background:url(../images/mobile/block4.jpg) no-repeat;
	}
	
	#howIn{
		height:3869px;
		width:1280px;
	}
	#containerHow{
		height:3600px;
		width:1280px;
		background:url(../images/mobile/block6.jpg) no-repeat;
	}
	
	#map{
		height:1027px;
		width:1280px;
		background:url(../images/mobile/block7.jpg) no-repeat;
	}
	
	#form3{
		height:900px;
		width:1280px;
	}

	#form3 h3{
	margin-bottom:100px;
	font-size:50px;
	}

	#form3 input{
		margin:40px auto 0 auto;
		display:block;
		height:100px;
		width:1000px;
		border:3px solid #FF6C64;
		font-size:50px;
	}

	.close{
		position:absolute;
		left:490px;
		bottom:0;
		width:300px;
		cursor:pointer;
	}
	.knopka_pod3{
		width:600px;
		height:100px;
		padding-top:51px;
		font-size:50px;
		border-radius:24px;
		margin:50px auto 0 auto;
		border-bottom:12px solid #D55A54;
	}
	
	body #galleryLB{
		margin:0 auto;
		padding:0;
		width:1200px;
	}
	
	body #imgLB{
		margin:0 auto;
		display:block;
		width:1200px;
		border-radius:12px;
	}
	
}
